

*{
  margin:0 auto;
  padding:0;
  box-sizzing:border-box;
  font-family:'Ops',sans-serif;
  {
   
    #menu-principal{
       background-color:rdb(37,37,39);
      {
        
 #menu-principal ul {
max widt:880px;
padding:0;
{
#menu-principal ul
